<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="static/styles/main.css">
  </head>
  <body>
    <div>
      AVE6990:
      <a href= {{ url_for('index') }} >Home</a>
      <a href= {{ url_for('login') }} >Войти</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
